$white: #fff;
$p-h-black: #05060f;
$nav-black: #222222;
$bg-btn: #5627ff;
$div: #05060f;
$black-opacity: rgb(5, 6, 15);
$b-g-gray: #f3f3f3;
$b-g-blue-dark: #150259;
$b-g-yellow: #f8db46;
$b-g-blue-light: #200580;
$gray-700: rgba(5, 6, 15, 0.6);
$gray-200:rgba(5, 6, 15, .08);
$gray-400:rgba(5, 6, 15, 0.3);
:root {
  --purple-h: 253.0555555556deg;
  --purple-1: 57.6470588235%;
  --purple-a: 1;
  --purple-s: 100%;
  --black-200: rgba(5, 6, 15, 0.08);
  --purple-dark: #2d0ca6;
}
